# Ignore virtual environment files
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore development and debugging files
*.log
*.vscode/
*.idea/

# Ignore any other build artifacts or temporary files
*.bak
*.swp
.DS_Store

# Ignore git and repo related files
README.md
LICENSE
Dockerfile
